<p>
  Workshops created by <a href="{{site.carpentries_site}}">the Carpentries</a>
  aim to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This series of hands-on workshops will cover basic concepts and tools,
  including program design, version control, data management,
  task automation, and containerization.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
