<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Apr 10, 2020</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">R basics</a> Parts of episodes 1-7 </td> </tr>
      <tr> <td>Apr 17, 2020</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">Data cleaning and preparation in R</a>  Episodes 13 & 14</td> </tr>
      <tr> <td>Apr 24, 2020</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">Creating Publication-Quality Graphics with GGPLOT2</a>.) Episode 8</td> </tr>
      <tr> <td>May 1, 2020</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/">Producing Reports with knitr</a> Episodes 15</td> </tr>
    </table>
  </div>
</div>
